﻿@model DocUpload.Core.Model.ServiceAccount

    <script type="text/javascript">
        $(document).ready(function () {
            function validator() {
                return $("form").valid();
            }

            $("#btnSubmit").click(function (event) {
                
                event.preventDefault();
                if (validator()) {
                    $.ajax({
                        url: "/ServiceAccount/AddServiceAccount",
                        type: "POST",
                        data: $("form").serialize(),
                        datatype: "json",
                        success: function(data) {
                            alert(data.msg);
                            window.location.href = location.href;
                        },
                        error: function() { alert("An error has occured!!!"); }
                    });
                }
            });
        })
    </script>

<form action="/ServiceAccount" style="width: 70%" class="center-block" method="post">
       
                <h1>Add/Edit Service Account</h1>
                <fieldset class="form-group">
                    @Html.CheckBoxFor(m => m.IsActive)
                </fieldset>
                <fieldset class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new {@required="true",@class = "form-control", placeholder = "Account Name" })
                    @Html.ValidationMessageFor(m => m.Name,"",new{@style="color:red"})
                </fieldset>
                <fieldset class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Accont Email" })
                </fieldset>
           
                <button id="btnSubmit" type="submit" class="btn btn-primary left">Submit</button>                
          
    </form>